<nav class="navbar navbar-expand-lg">
  <div id="headnavbar" class="navbar-expand bg-orange container-fluid px-4 py-2">Phone Book
  </div>
  <div class="container-fluid bg-lila">
  <ul class="nav navbar">
  	<li class="nav navbar-expand">
  		<a class="dropdown-item" routerLink='/'>Home</a>
  	</li>
  	<li class="nav-item">
  		<a class="dropdown-item" routerLink='/important'>Important numbers</a>
  	</li>
  	<li class="nav-item">
  		<a class="dropdown-item" routerLink='/phone'>My phone book</a>
  	</li>
  </ul>
</div>
</nav>
